* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background: #f1f5f8;
  color: #222;
}

@media screen and (max-width: 450px) {
  .slider_container {
    height: 300px;
    position: relative;
    object-fit: cover;
    margin: 0 auto 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    border-radius: 50%;
    background-color: red;
    opacity: 0.5;
    padding: 0.4rem;
  }

  .card-img-top {
    height: 10rem;
    width: 23%;
    border-radius: 50%;
    display: block;
    margin: 1.5rem auto;
  }

  .card-title {
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(30, 144, 255);
    text-align: center;
    font-family: sans-serif;
  }

  .card-text {
    font-size: 0.7rem;
    color: grey;
    /* text-align: justify; */
    padding: 0 0.3rem;
  }

  .thanks {
    font-size: 0.6rem;
    color: rgb(30, 144, 255);
    font-family: sans-serif;
  }

  .footer {
    width: 100%;
    text-align: center;
    background-color: rgb(30, 144, 255);
    padding: 0.2rem;
  }

  .footer p {
    color: #fff;
    font-size: 0.5rem;
    font-style: oblique;
  }

  .navbar {
    background: rgb(30, 144, 255);
    width: 100%;
  }

  .cheers {
    color: #fff;
    font-style: oblique;
    font-size: 1rem;
    margin-left: 3.5rem;
  }

  .btn-left {
    font-size: 0.5rem;
    margin-left: 4.5rem;
  }

  .btn-right {
    font-size: 0.5rem;
    margin-left: 0.7rem;
  }

  .wishes-heading {
    margin: 2rem auto 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(30, 144, 255);
    text-align: center;
    font-family: sans-serif;
  }

  hr {
    display: block;
    width: 20%;
    padding: 0.2rem;
    margin: 0 auto 1rem;
    border: 0 none;
    background-color: rgb(30, 144, 255);
    opacity: 0.5;
    border-width: 1px;
  }

  .show-text {
    color: rgb(30, 144, 255);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 0.4rem;
  }

  .reveal-text {
    display: inline;
  }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
  .slider_container {
    height: 400px;
    position: relative;
    object-fit: cover;
    margin: 0 auto 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    border-radius: 50%;
    background-color: red;
    opacity: 0.5;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
  .slider_container {
    height: 400px;
    position: relative;
    object-fit: cover;
    margin: 0 auto 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    border-radius: 50%;
    background-color: red;
    opacity: 0.5;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 700px) {
  .slider_container {
    height: 700px;
    position: relative;
    object-fit: cover;
    margin: 0 auto 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    border-radius: 50%;
    background-color: red;
    opacity: 0.5;
    padding: 2rem;
  }

  .card-title {
    font-style: oblique;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(30, 144, 255);
    text-align: center;
    font-family: sans-serif;
  }

  hr {
    display: block;
    width: 20%;
    padding: 0.2rem;
    margin: 0 auto 1rem;
    border: 0 none;
    background-color: rgb(30, 144, 255);
    opacity: 0.5;
    border-width: 1px;
  }

  .card-img-top {
    height: 20rem;
    width: 30%;
    border-radius: 50%;
    display: block;
    margin: 2rem auto;
  }

  .navbar {
    background: rgb(30, 144, 255);
    width: 100%;
  }

  .cheers {
    color: #fff;
    font-style: oblique;
  }

  .btn {
    font-size: 1rem;
    margin: 0 1rem;
  }

  .wishes {
    font-size: 1.4rem;
  }

  .carousel_item {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .prev,
  .next {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    justify-content: space-between;
    display: flex;
  }

  .prev i {
    color: #fff;
    font-size: 50px;
  }

  .next i {
    color: #fff;
    font-size: 50px;
  }
  .card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
  }

  .card-text {
    font-size: 1.6rem;
    color: grey;
    text-align: justify;
    padding: 0 3rem;
  }

  .thanks {
    font-size: 2.3rem;
    color: rgb(30, 144, 255);
    font-family: sans-serif;
  }

  .footer {
    width: 100%;
    text-align: center;
    background-color: rgb(30, 144, 255);
    padding: 0.5rem;
  }

  .footer p {
    color: #fff;
    font-size: 1.3rem;
    font-style: oblique;
  }

  .wishes-heading {
    margin: 6rem auto 0.5rem;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(30, 144, 255);
    text-align: center;
    font-family: sans-serif;
  }

  .show-text {
    color: rgb(30, 144, 255);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 1.3rem;
  }

  .reveal-text {
    display: inline;
  }
}
